body {
    font-family:Arial,sans-serif;
    font-size:14px;
    margin:0px;
}
.navbar {
    background-color:#4285f4;
    height:60px;
}
.navbar-icon {
    margin:10px 15px;
    height:40px;
    vertical-align:middle;
}
.navbar-item {
    display:inline-block;
    height:100%;
    margin:0px;
    padding:0px 10px;
    vertical-align:middle;
}
.navbar-item-selected {
    background-color:#0e63f1;
}
.navbar-item:hover {
    background-color:#0e63f1;
}
.navbar-item-text {
    color:#FFF;
    display:inline-block;
    font-size:20px;
    margin-top:20px;
}
.page-content {
    padding:10px;
}
.page-title {
    color:#919191;
    font-size:25px;
    font-weight:normal;
    letter-spacing:1px;
    text-transform:uppercase;
}
.section-body {
    margin:15px 30px;
}
.section-container {
    background-color:#E6E6E6;
    margin:20px 0px;
    padding:10px;
}
.section-title {
    color:#222;
    font-weight:normal;
    letter-spacing:0.5px;
    margin:5px 0px 0px 0px;
    text-decoration:none;
}
.section-description {
    color:#404040;
    font-weight:normal;
    letter-spacing:0.5px;
    line-height:200%;
    margin:0px 0px 15px 0px;
    text-decoration:none;
}
.classifier-option {
    opacity:0.5;
    margin:15px 0px 25px 0px;
}
.classifier-params {
    display:none;
    margin:10px 15px;
}
.classifier-params-container {
    margin:15px 15px 0px 20px;
    border:1px solid #CCC;
}
.select-list {
    margin:0px;
    padding:0px;
    width:250px;
}
.select-list:focus { 
    outline: none;
}
.select-list select {
    padding:30px;
    height:30px;
}
.select-list optgroup {
    background-color:#EEE;
    color:#555;
    font-size:12px;
    font-weight:500;
    padding:5px 0px 0px 0px;
}
.select-list option {
    background-color:#FFF;
    font-size:11px;
    padding:5px 3px;
}
.select-list option:first-child {
    margin-top:5px;
}
.text-input {
    height:20px;
    padding:5px 10px;
    width:200px;
}
.form-button {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    color: #ffffff;
    font-size:16px;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    letter-spacing:1px;
    border:none;
    cursor:pointer;
}
.form-button:hover {
    text-decoration: none;
}
.blue-button {
  background: #4285f4;
}
.blue-button:disabled {
  background: #0e63f1; 
}
.blue-button:hover {
  background: #0e63f1; 
}
.grey-button {
  background: #5E5E5E;
}
.grey-button:disabled {
  background: #0e63f1; 
}
.blue-button:hover {
  background: #0e63f1; 
}
