<!doctype html>
<head>
<title>Tumor Project</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1 class="page-title">Brain Tumor Classification Interface</h1>
    <div class="section-container" style="padding:20px;">
        <a href="data_upload"><input type="submit" value="Upload MRS Data" class="form-button grey-button"></a>
        <br><br><br>
        <a href="train_classifier"><input type="submit" value="Train Classifier" class="form-button grey-button"></a>
        <br><br><br>
        <a href="classify_data"><input type="submit" value="Classify MRS Data" class="form-button grey-button"></a>
        <br>
    </div>
</body>
