<!DOCTYPE html>
<html>
<head>
<title>MRS Data</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="navbar">
        <a href="/"><img class="navbar-icon" src="brain.png" /></a>
        <a href="data_manager"><div class="navbar-item navbar-item-selected"><div class="navbar-item-text">MRS Data</div></div></a>
        <a href="train_classifier"><div class="navbar-item"><div class="navbar-item-text">Train Classifier</div></div></a>
        <a href="classify_data"><div class="navbar-item"><div class="navbar-item-text">Classify Data</div></div></a>
    </div>

    <div class="page-content">
        <h1 class="page-title">Manage MRS Data</h1>
        <a href="data_upload"><input type="button" value="Upload" class="form-button grey-button"></a><br/><br/>
        <a href="data_download"><input type="button" value="Download" class="form-button grey-button"></a><br/><br/>
        <a href="data_list"><input type="button" value="View All" class="form-button grey-button"></a>
    </div>

</body>
</html>