<!DOCTYPE html>
<html>
<head>
<title>Upload Data</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="showsteps.js"></script>
<script type="text/javascript">
function updateSteps() {
    // Update which steps in the form are visible.
    var form = document.getElementById("uploadform");
    var sections = form.getElementsByClassName("section-container");
    var buttons = form.getElementsByClassName("form-button")

    // Sequentially validate steps.
    var stepsToShow = 1;
    // Step 1 needs file to be selected.
    if (sections[0].getElementsByTagName("input")[0].value != "") {
        // Step 2 has a default value, so next step can be shown.
        console.log("File selected.");
        stepsToShow += 2;
    }

    // Update the UI.
    showSteps(stepsToShow, sections, buttons);
}
</script>
</head>
<body onload="updateSteps()">
    <div class="navbar">
        <a href="/"><img class="navbar-icon" src="brain.png" /></a>
        <a href="data_manager"><div class="navbar-item navbar-item-selected"><div class="navbar-item-text">MRS Data</div></div></a>
        <a href="train_classifier"><div class="navbar-item"><div class="navbar-item-text">Train Classifier</div></div></a>
        <a href="classify_data"><div class="navbar-item"><div class="navbar-item-text">Classify Data</div></div></a>
    </div>

    <div class="page-content">
        <h1 class="page-title">Upload MRS Data</h1>

        <form id="uploadform" enctype="multipart/form-data" method="post" action="#" onchange="updateSteps()">
            <div class="section-container">
                <h3 class="section-title">1. Choose MRS Data File</h3>
                <div class="section-body">
                    <input type="file" id="fileupload" name="myfile" />
                </div>
            </div>

            <div class="section-container">
                <h3 class="section-title">2. Label The Data</h3>
                <div class="section-body">
                    <p class="section-description">Which threrapy group does the selected data belong to?</p>
                    <select name="grouplabel">
                        <option value="groupA">Group A</option>
                        <option value="groupB">Group B</option>
            	    </select>
                </div>
            </div>

            <input type="submit" value="Upload" class="form-button blue-button">
        </form>
    </div>

</body>
</html>